.body_backgorund 
{
	 background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fstore.canvasfineprint.com%2F&psig=AOvVaw18V0wzxsmlpoIs4IrgX3e5&ust=1644315020514000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPiH6fus7fUCFQAAAAAdAAAAABAD"); 
	 background-position: center;
	  background-size: cover; 
	} 